/*body{
    position: relative;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    margin: 0;
    padding: 20px;
    border: 0px;
    background-color: black;
}

p{
    font-size: min(10vh, 10vw);
    color: white;
    margin: 0px;
    border: none;
    padding: 0px;
    text-align: center;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contenedor {
    position: relative;
    top: auto;
    left: auto;
    width: 90%;
    height: 50%;
    margin: 0 auto;
    z-index: 1;
    background-color: transparent;
}

.boton{
    width: 60%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    border: none;
    border-radius: 30px;
    font-size: min(9vh, 10vw);
}

.boton:hover{
    background-color: rgb(197, 0, 0)
}

.boton:active{
    font-size: min(7vh, 8vw);
    background-color: rgb(200, 1, 1);
    width: 55%;
}


#screen {
    width: 90%;
    height: 90%;
    background: linear-gradient(to bottom, black, rgb(4, 6, 52)); /* Degradado de negro a rojo /
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute; /* Cambiado a absolute /
    top: 50%; /* Centrado verticalmente /
    left: 50%; /* Centrado horizontalmente /
    transform: translate(-50%, -50%); /* Ajuste para centrar /
    display: flex;
    flex-direction: column; /* o row según necesites /
    align-items: center;
    /*justify-content: center;/
    justify-content: flex-start; /* al tope en Y /
    padding-top: 20px; /* espaciado opcional desde el tope /
}

#vercion{
    position: absolute;
    right: 0%;
    bottom: 0%;
    font-size: 10px;
}*/





:root {
    --real-height: 100vh; /* Se ajustará correctamente con JS */
}

body{
    position: relative;
    width: calc(100vw - 40px);
    height: calc(var(--real-height) - 40px);
    margin: 0;
    padding: 20px;
    background-color: black;
    overflow: hidden; /* evita scrolls inesperados */
}

p{
    font-size: min(10vh, 10vw);
    color: white;
    margin: 0px;
    text-align: center;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contenedor {
    position: relative;
    width: 90%;
    height: 50%;
    margin: 0 auto;
    background-color: transparent;
}

.boton{
    width: 60%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    border: none;
    border-radius: 30px;
    font-size: min(9vh, 10vw);
}

.boton:hover{
    background-color: rgb(197, 0, 0)
}

.boton:active{
    font-size: min(7vh, 8vw);
    background-color: rgb(200, 1, 1);
    width: 55%;
}

#screen {
    width: 90%;
    height: 90%;
    background: linear-gradient(to bottom, black, rgb(4, 6, 52));
    border-radius: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
}

#vercion{
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 10px;
}
