p, input, button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input{
    /*Fija un valor responsivo, los parametros son: valor_minimo, valor_preferido, valor_maximo*/
    font-size: clamp(14px, min(7vh, 8vw), 40px);
    width: 90%;
    max-width: 300px;
    margin:0px;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.contenedor{
    height: 25% !important;
}

.contenedor_numero{
    height: 50%;
}

#alerta {
    font-size: min(25px, 5vh, 8vw);
    color: red;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 100%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}






/* ocultar flechas (spin) en input type=number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield;
}

/* Edge / IE */
input::-ms-clear,
input::-ms-expand {
    display: none;
}
/* ocultar flechas (spin) en input type=number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield;
}

/* Edge / IE */
input[type="number"]::-ms-clear,
input[type="number"]::-ms-expand {
    display: none;
}